* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/CZxYUWgWIAMnHff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.head {
    display: flex;
    background-color: white;
    height: 44px;
}

.head li {
    list-style: none;
    padding: 12px;
    font-size: medium;
    border-radius: 2px;
}

.head i {
    color: rgb(235, 121, 188);
}

section {
    max-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainh {
    display: flex;
}

.mainh img {
    width: 550px;
    height: 250px;
    margin-top: 30px;
    background-color: rgb(21, 16, 16);
    border-radius: 30px;
    padding: 20px;
}

.mainh1 {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.mainh1 i {
    font-size: 25px;
}

.search {
    background-color: #ffffff;
    width: 650px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 10px;
    align-items: center;
}

.search input {
    outline: none;
    border: none;
    width: 500px;
    padding: 5px;
}

.search i {
    color: grey;
}

.top {
    display: flex;
    gap: 90px;
    justify-content: center;
    margin: 20px 0;
}

.top div {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 40px;
}

.top img {
    border-radius: 40px;
    width: 30px;
    height: 25px;
}

.formalt {
    width: 700px;
    background-color: #eaeded;
    margin: 20px auto;
    border-radius: 20px;
    padding: 15px;
}

.formalt1 {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
}

.f1 i {
    color: greenyellow;
    font-size: 20px;
    margin-right: 10px;
}

.f2 {
    font-size: small;
    color: #595656;
}