*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.hello{
 
    width: 1280px;
    height: 590px;
    border: 4px solid bisque;
    margin-top: 70px;
    background-color: rgb(205, 184, 158);
}
.hello img{
   margin-left: 490px;
   display: flex;
    

}
.hello h1{
    display: flex;
   margin-top: 30px;
   margin-left: 39px;
    font-size: 60px;

}